

 <md-card class="game-repeat-blocks md-whiteframe-10dp highlight-panel" flex-xs="80" flex-sm="45" flex-md="30"  flex-lg="20" flex-gt-lg="15" layout-wrap highlight-class="highlight-panel" >
   <!-- <div class="game-repeat-blocks-pic" layout="row" layout-align="center center" layout-padding>
        <i flex="70" class="icon-pacman" ng-if="index%2 == 0"></i>
        <i flex="70" class="icon-dice" ng-if="index%2 !== 0"></i>
    </div>-->
     <img style="width:100%; height:100%; position:absolute; top:0; left: 0; opacity: 0.8;" src="{{'http://cdn.akamai.steamstatic.com/steam/apps/'+game.appid+'/header.jpg'}}" fallback-src="/images/fallback.jpg" game-panel-fallback="true"/>
     <!--<div layout="column" layout-align="center center">
        <p flex class="game-repeat-blocks-header" layout-wrap>{{game.name}}</p>
    </div>-->
</md-card>
