<div layout="row" layout-align="center" class="pagination-container" >
    <md-button ng-disabled="pageDownCheck" class="md-icon-button pagedown" flex-sm="10" flex-xs="15" flex-md="5" md-no-ink ng-click="pageDown()">  <!-- TODO fix this -->
        <md-icon aria-label="..." class="icon-arrow-left-alt1" ></md-icon>
    </md-button>
    <md-button aria-label="..." ng-disabled="pageUpCheck" flex-sm="10" flex-xs="15" flex-md="5"  class="md-icon-button pageup" md-no-ink ng-click="pageUp()">  <!-- TODO fix this -->
        <md-icon aria-label="..." class="icon-arrow-right-alt1"></md-icon>
    </md-button>
</div>