<div layout="row" layout-align="center">
    <md-button aria-label="..." ng-disabled="pageDownCheck" class="md-icon-button pagedown" ng-click="pageDown()"  md-no-ink >  <!-- TODO fix this -->
        <md-icon aria-label="..." class="icon-arrow-left-alt1" ></md-icon>
    </md-button>
    <md-button aria-label="..." ng-disabled="pageUpCheck"   class="md-icon-button pageup"  ng-click="pageUp()" md-no-ink >  <!-- TODO fix this -->
        <md-icon aria-label="..." class="icon-arrow-right-alt1 arrow-btn" ></md-icon>
    </md-button>
</div>